<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsStore.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportsStore.WebUI.styles.css" asp-append-version="true" />
</head>
<body>

    <nav class="navbar navbar-dark bg-dark " role="navigation">
        <a class="navbar-brand mx-4" href="#">SPORTS STORE</a>
        @await Component.InvokeAsync("Summary")
    </nav>
    <div class="row pt-4">
        <div id="categories" class="col col-3">
            @await Component.InvokeAsync("Navigation")
        </div>
        <div class="col col-8">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
